body {
  height: 100vh;
  background-color: aquamarine;
}

.wrap {
  width: 80vh;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
}

input {
  height: 5vh;
  width: 12vh;
  margin-bottom: 20px;
  margin-right: 20px;
}

.num {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  border: 2px solid white;
  padding: 15px;
}

.num2 {
  display: flex;
  flex-direction: column;

}

.btn {
  height: 120px;
  width: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* margin-bottom: 39px; */
  border: 2px solid white;
  padding: 15px;
}

.result {
  width: 13vh;
  height: 3vh;
  border-color: rgb(22, 61, 133);
  background-color: cornflowerblue;

}